.main-container {
  margin-left: 25px;
  display: flex;
}

.sidebar {
  margin-top: 25px;

  width: 300px;
  height: 500px;
  border-radius: 20px;
  outline: 2px solid #4682b4; 
  padding: 20px; 
}
.sidebar-header {
  text-align: center;
}



.shops-list {
  padding: 0;
}

.shop-item {
  background-color: #4682b4;

  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 15px 30px;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
&:hover {
 background-color:#355ebd ; 

}
}

.main-content {
overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
height: 100vh;
  width: calc(100% - 350px); 
  &::-webkit-scrollbar { 
    width: 10px;
    background-color: transparent; 
  }

  &::-webkit-scrollbar-thumb { 
    background-color: #4682b4; 
    border-radius: 5px; 
  }

  .medicine-list {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    li {
      position: relative;
      width: 285px;
      height: 300px;

      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      h2 {
     margin-top: 0;
        font-size: 24px;
        color: #333; 
      }
      
      p {
      
        color: #666; 
        font-size: 16px;
      }
.order-block {
  display: flex;
  justify-content: right;
  .btn-order {
    position: absolute;
    right: 10px;
    bottom: 20px;
    padding: 12px 25px; 
    font-size: 20px; 
    background-color: #4682b4; 
    color: white; 
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

  .btn-order:hover {
    background-color:  #355ebd;
  }
}
  
    }
  }
}
