
.cart-container {
  display: flex;
  margin-left: 25px;
  justify-content: space-between;
  .input-container {
    margin-top: 25px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    outline: 2px solid #4682b4; /* добавляем контур */
    padding: 20px; /* добавляем отступы вокруг контента */
    .input-list {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        .input-item {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 10px;
          box-sizing: border-box;
          outline: none;
          transition: 50ms ease-in-out;
          &:focus {
            border: 2px solid #4682b4;
          }
       
        }
     
      }

    }
    .error-input {
      color: red; // Цвет текста ошибки
       font-size: 12px; // Размер шрифта ошибки
       margin-top: 5px; // Отступ сверху
     }
  }

  .add-container {
    display: flex;
    flex-wrap: wrap;

    border: 1px solid #4682b4;
    width: 600px; /* Ширина основного контента, вычитаем ширину sidebar */

    .add-list {
      margin-top: 25px;

      li {
        width: 300px;
        background-color: #f0f0f0;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }


}
.submit-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 210px;
    gap: 20px;

    .price-title {
        font-size: 24px;
        font-weight: bold;
        color: #333; /* Цвет текста */
      }
    
      .btn-submit {
        display: block;
        padding: 18px 70px;
        background-color: #4682B4; /* Цвет фона кнопки */
        color: white; /* Цвет текста кнопки */
        border: none;
        font-size: 16px;
        font-family: Arial, sans-serif;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
      }
    
      .btn-submit:hover {
        background-color: #355ebd; /* Изменение цвета фона при наведении */
      }
      }
